<!DOCTYPE html>
<html>
<head>
    <title>Password Manager</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        
        table td, table th {
            border: 1px solid black;
            padding: 8px;
        }
        
        button {
            padding: 6px 12px;
        }
    </style>
    <script>

        function fetchPassword(site) {
        return  fetch(`secret/${site}`)
            .then(response => response.json())
            .then(data => {
            return data.secret;
            })
            .catch(error => {
            console.error('Error:', error);
            window.location.href = '/logout';
            });
        }

        function copyPassword(site) {
            fetchPassword(site)
                .then(secret => navigator.clipboard.writeText(secret));
        }
        
        function showPassword(button, site) {
            var row = button.parentNode.parentNode;
            var passwordCell = row.querySelector('.password-cell');
            fetchPassword(site) // Replace 'site' with the appropriate argument for the site name
                .then(password => {
                passwordCell.innerHTML = '<input type="text" value="' + password + '" readonly>';
                button.remove();

                var hideButton = document.createElement('button');
                hideButton.textContent = 'Hide';
                hideButton.onclick = function() {
                    hidePassword(hideButton);
                };

                row.querySelector('.show-button-cell').appendChild(hideButton);
            });
        }
        
        function hidePassword(button) {
            var row = button.parentNode.parentNode;
            var passwordCell = row.querySelector('.password-cell');
            passwordCell.innerHTML = '********';
            button.remove();
            var showButton = document.createElement('button');
            showButton.textContent = 'Show';
            showButton.onclick = function() {
                showPassword(showButton);
            };
            row.querySelector('.show-button-cell').appendChild(showButton);
        }


        function deleteRow(row) {
            row.parentNode.removeChild(row);
        }

        
    </script>
</head>
<body>
    <h1>Password Manager</h1>
    <a href="/logout">
        <button>Logout</button>
    </a>
    
    <h2>Add a new row:</h2>
    <form action="/add" method="post">
        <label for="site">Site:</label>
        <input type="text" id="site" name="site" required>
        
        <label for="secret">Password:</label>
        <input type="password" id="secret" name="secret" required>
        
        <button type="submit">Add Row</button>
    </form>
    
    <h2>Passwords:</h2>
    <table id="passwordTable">
        <tr>
            <th>Site</th>
            <th>Password</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        {% for site in rows %}
        <tr>
          <td>{{ site }}</td>
          <td class="password-cell" data-password="">********</td>
          <td><button onclick="copyPassword('{{ site }}')">Copy</button></td>
          <td class="show-button-cell"><button onclick="showPassword(this, '{{ site }}')">Show</button></td>
          <td><a href="/delete/{{ site }}"><button>Delete</button></td></a>
        </tr>
        {% endfor %}

    </table>
</body>
</html>
